@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Shantell+Sans:wght@500&display=swap');
/* --secondary-color: #A33B20 ;
 --primary-color: #F1AB86  */
:root {
  --primary-color: #F1AB86   ;
  --secondary-color: #e19480 ;
  --accent1-color: #dd82ab;
  --accent2-color: #F4FFF8;

  --heading-font: "Shantell Sans";
  --paragraph-font: "Open Sans", Helvetica, sans-serif;

  --headline-color-on-white: var(--primary-color);  /* headlines on a white background */ 
  --headline-color-on-color: var(--accent2-color); /* headlines on a colored background */ 
  --paragraph-color-on-white: var(--secondary-color); /* paragraph text on a white background */ 
  --paragraph-color-on-color: var(--accent2-color); /* paragraph text on a colored background */ 
  --paragraph-background-color: var(--primary-color);
  --nav-link-color: var(--primary-color);
  --nav-background-color: var(--secondary-color);
  --nav-hover-link-color: var(--accent1-color);
  --nav-hover-background-color: var(--accent2-color);
}
body {
  background-color: #fff5f2;
  margin: 0;
}
#logo_link {
  padding-top: 5px;
  justify-self: center;
  align-self: center;
}
.logo {
  width: 80px;
  background-color: white;
  border-radius: 10px;
  height: 90px;
}
header {
  background-color: var(--nav-background-color);
  font-family: var(--heading-font);
  display: grid;
  grid-template-columns: 150px auto;
}
nav {
  display: flex;
  justify-content: space-around;
}
nav a {
  text-align: center;
  padding: 35px;
  text-align: center;
  color: var(--accent2-color);
  text-decoration: none;
  display: flex;
  align-items: center;
}
nav a:hover {
  background-color: var(--another-color);
  border-radius: 10px;
  margin: 5px 0;
}
#hero-img {
  width: 100%;
}
#hero {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  margin-top: -100px; 
}
#hero-msg {
  grid-column: 2/3;
  grid-row: 1/2;
  margin-top: 100px;
}
#hero-box {
  grid-column: 1/4;
  grid-row: 1/3;
  z-index: -1;
  margin-bottom: -4px;
}
#hero-msg  {
  color: black;
  text-align: center;
  font-family: var(--heading-font);
  font-size: 2em;
  background-color: white;
  margin-top: 200px;
  border-radius: 10px;
  border: 5px solid black;
}
footer {
  background-color: var(--nav-background-color);
  padding: 25px 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer a {
  text-align: center;
  color: var(--accent2-color);
  text-decoration: none;
  font-family: var(--heading-font);
}
footer p {
  font-size: 1.2em;
  color: var(--accent2-color);
  font-family: var(--paragraph-font);
} 
footer .social img {  
  padding: 10px; 
  width: 60px;
}
.social {
  display: flex;
  flex-direction: row;
}
footer a:hover {
  background-color: var(--another-color);
}
footer .connect {
  background-color: var(--another-color);
  color: white;
  padding: 10px 10px;
  border-radius: 10px;
}
#about {
  text-align: center;
  background-color: var(--accent1-color);
  padding: 2px 0;
  margin: 0;
  font-family: var(--heading-font);
}
.container {
  display: grid;
  grid-template-columns: repeat(12,1fr);
}
.container p {
  grid-column: 1/8;
  text-align: center;
  margin: 10px 10px;
  padding-top: 15px;
  border-radius: 10px;
  border: 5px solid var(--secondary-color);
  font-family: var(--paragraph-font);
  font-size: 18px;
}



.image-container {
  position: relative;
  width: 100%;
  grid-column: 9/12;
  border: 5px solid var(--secondary-color);
  border-radius: 10px;
  margin: 10px 10px;
  aspect-ratio: 1/1;
}

.plum {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: var(--accent1-color);
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
  border-radius: 5px;
}

.image-container:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
@media screen and (max-width: 900px) {
  #hero, .home-grid {
      display: block;
      height: auto;
  }
  nav, footer {
      flex-direction: column;
  }
  nav a {
      display: block;
      padding: 15px;
  }
  #hero {
      margin-top: 0;
  }
  #hero-msg {
      margin-top: 0;
  }
  #hero-msg h4 {
      display: none;
  }
  #background {
      display: none;
  }
  footer {
      margin-top: 25px;
  }
  .container p {
    grid-column: 1/13;
  }
  .container img {
    grid-column: 1/13;
    max-height: 300px;
    max-width: 300px;
  }
}

/* Contact page styling */
form {
  margin: 50px auto;
  width: 400px;
  padding: 1em;
  border: 1px solid black;
  border-radius: 1em;
  background-color: #fff5f2;
  font-family: var(--paragraph-font);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

label {
  display: inline-block;
  width: 90px;
  text-align: right;
}

input,
textarea {
  font: 1em sans-serif;
  width: 300px;
  box-sizing: border-box;
  border: 1px solid #999;
}

input:focus,
textarea:focus {
  border-color: #000;
}

textarea {
  vertical-align: top;
  height: 5em;
}

.button {
  padding-left: 90px;
  margin-top: 20px;
  list-style-type: none;
}

button {
  margin-left: 0.5em;
}
#feedback {
  text-align: center;
  background-color: var(--primary-color);
  border-radius: 0 0 5px 5px;
  font-family: var(--heading-font);
  color: #F4FFF8;
  
}
.contact-us {
  text-align: center;
  font-family: var(--heading-font);
}
#important-stuff {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(5,1fr);
  background-color: var(--accent1-color);
  margin: 20px 50px;
  border-radius: 15px;
}
.ASAP {
  grid-column: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--heading-font);
  background-color: var(--secondary-color);
  border-radius: 10px;
  margin: 10px 140px;
  padding: 10px;
  color: white;
}
.form {
  grid-column: 2;
  grid-row: 2/6;
}
.message {
  grid-row: 1/6;
  grid-column: 1;
  text-align: center;
  background-color: var(--secondary-color);
  border-radius: 10px;
  margin: 10px;
  padding: 40px;
  font-family: var(--paragraph-font);
  font-size: medium;
  color: white;
}