@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Shantell+Sans:wght@500&display=swap');
/* --secondary-color: #A33B20 ;
 --primary-color: #F1AB86  */
:root {
  --primary-color: #A33B20   ;
  --secondary-color: #ffd5ca ;
  --accent1-color: #E15A97;
  --accent2-color: #F4FFF8;
  --another-color: #F1AB86;

  --heading-font: "Shantell Sans";
  --paragraph-font: "Open Sans", Helvetica, sans-serif;

  --headline-color-on-white: var(--primary-color);  /* headlines on a white background */ 
  --headline-color-on-color: var(--accent2-color); /* headlines on a colored background */ 
  --paragraph-color-on-white: var(--secondary-color); /* paragraph text on a white background */ 
  --paragraph-color-on-color: var(--accent2-color); /* paragraph text on a colored background */ 
  --paragraph-background-color: var(--primary-color);
  --nav-link-color: var(--primary-color);
  --nav-background-color: var(--secondary-color);
  --nav-hover-link-color: var(--accent1-color);
  --nav-hover-background-color: var(--accent2-color);
}
body {
  background-color: #fff5f2;
  margin: 0;
}
#logo_link {
  padding-top: 5px;
  justify-self: center;
  align-self: center;
}
.logo {
  width: 80px
}
header {
  background-color: var(--nav-background-color);
  font-family: var(--heading-font);
  display: grid;
  grid-template-columns: 150px auto;
}
nav {
  display: flex;
  justify-content: space-around;
}
nav a {
  text-align: center;
  padding: 35px;
  text-align: center;
  color: var(--nav-link-color);
  text-decoration: none;
  display: flex;
  align-items: center;
}
nav a:hover {
  background-color: var(--another-color);
  border-radius: 10px;
  margin: 5px 0;
}
#hero-img {
  width: 100%;
}
#hero {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  margin-top: -100px; 
}
#hero-msg {
  grid-column: 2/3;
  grid-row: 1/2;
  margin-top: 100px;
}
#hero-box {
  grid-column: 1/4;
  grid-row: 1/3;
  z-index: -1;
  margin-bottom: -4px;
}
#hero-msg  {
  color: black;
  text-align: center;
  font-family: var(--heading-font);
  font-size: 2em;
  background-color: white;
  margin-top: 200px;
  border-radius: 10px;
  border: 5px solid black;
}
footer {
  background-color: var(--nav-background-color);
  padding: 25px 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer a {
  text-align: center;
  color: var(--body);
  text-decoration: none;
  font-family: var(--heading-font);
}
footer p {
  font-size: 1.2em;
  color: var(--primary-color);
  font-family: var(--paragraph-font);
} 
footer .social img {  
  padding: 10px; 
  width: 60px;
}
.social {
  display: flex;
  flex-direction: row;
}
footer a:hover {
  background-color: var(--another-color);
}
footer .connect {
  background-color: var(--another-color);
  color: white;
  padding: 10px 10px;
  border-radius: 10px;
}
#about {
  text-align: center;
  background-color: var(--accent1-color);
  padding: 2px 0;
  margin: 0;
  font-family: var(--heading-font);
}
.words {
  display: grid;
  grid-template-columns: repeat(12,1fr);
}
.words img {
  grid-column: 9/12;
  border: 5px solid var(--secondary-color);
  border-radius: 10px;
  margin: 10px 10px;
  width: 100%;
}
.words p {
  grid-column: 1/8;
  text-align: center;
  margin: 10px 10px;
  padding-top: 15px;
  border-radius: 10px;
  border: 5px solid var(--secondary-color);
  font-family: var(--paragraph-font);
  font-size: 17px;
}
@media screen and (max-width: 900px) {
  #hero, .home-grid {
      display: block;
      height: auto;
  }
  nav, footer {
      flex-direction: column;
  }
  nav a {
      display: block;
      padding: 15px;
  }
  #hero {
      margin-top: 0;
  }
  #hero-msg {
      margin-top: 0;
  }
  #hero-msg h4 {
      display: none;
  }
  #background {
      display: none;
  }
  footer {
      margin-top: 25px;
  }
  .words p {
    grid-column: 1/13;
  }
  .words img {
    grid-column: 1/13;
    max-height: 300px;
    max-width: 300px;
  }
}